<hr>
<p><span>email: </span><%= @user.email %></p>
<p><span>name: </span><%= @user.username %></p>

<% @favorite_posts.each do |post| %>
  <hr>
  <p><strong>お気に入りした投稿: </strong></p>
  <%=link_to post.title, post_path(post.id) %>
<% end %>